@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.section-wrapper {
  font-family: 'Poppins', sans-serif;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(219,219,219,1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(219,219,219,1);
  box-shadow: 0px 0px 15px 0px rgba(219,219,219,1);
  margin-bottom: 30px;
  background: #f6f6f6;
  border-radius: 10px;
  overflow: hidden;
}
.mainHeading {
  font-size: 16px;
  font-weight: 600;
  background-color: #1362f2;
  padding: 10px;
  color: white;
}

.subHeading{
  font-size: 16px;
  font-weight: 500;

}

.options{
  padding: 5px;
}
.btn-pdf{
  padding: 10px;
  border-radius: 5px;
  background-color: #1362f2;
  color: white;
  font-size: 14px;
  border: none;
  margin: 1rem 0 0 1rem ;
}
.text{
  text-align: left;
}
.main{
  /* border: 1px solid rgb(223, 223, 223); */
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0 !important;
}
.select-section {
  padding: 10px 15px;
  background-color: #fff;
}
body{
  background-color:#f0f0f0 !important;
}
td{
  margin: 0 5px;
}
.select-section .table {
  font-size: 12px;
}
.select-section table .form-control {
  max-width: 90px;
  display: inline-block;
}
.section-wrapper label{
  font-size: 12px;
font-weight: bold;
}
.form-control{
  font-size: 12px !important;
}
.text-right{
  text-align: right;
}
.main-section{
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.section-wrap{
  border: 1px solid #c3d4f3;
  background-color: #f6f6f6;
  padding: 50px;
  border-radius: 10px;
}
.login-text{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.modal-email {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-email-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.close-email {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.text-left{
  text-align: left;
}
.googleBtn{
  border: none;
}