.mainHeading{
  font-size: 22px;
  font-weight: 600;
  background-color:#F24E13 ;
  padding: 15px;
  color: white;
  margin: 10px;
}

.subHeading{
  font-size: 18px;
  font-weight: 500;
  background-color:#38C7FF ;
  padding: 15px;
  color: white;
  margin: 5px;
  width: 200px;
}
.options{
  padding: 13px;
}