.mainHeading{
  font-size: 22px;
  font-weight: 600;
  background-color:#F24E13 ;
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0 0;
}

.subHeading{
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
  margin: 5px;

}

.options{
  padding: 5px;
}
.btn-pdf{
  padding: 10px;
  border-radius: 5px;
  background-color: #38C7FF;
  color: white;
  font-size: 16px;
  border: none;
  margin: 1rem 0;
}
.text{
  text-align: left;
}
.main{
  /* border: 1px solid rgb(223, 223, 223); */
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0 !important;
}
.select-section{
  padding: 10px;
  background-color: #f1f6f8;
  border-radius: 0 0 10px 10px;
}
body{
  background-color:#38C7FF !important;
}